# Transforming Part

In [8]:
# import dependencies
import pandas as pd

import os

In [5]:
#Importing CSV obtained online
mining = "Resources/Mining_Aug_2019.csv"
mining_2019_df = pd.read_csv(mining, encoding = "ISO-8859-1")
mining_2019_df

,Co_ID,Exchange,Name,Root Ticker,QMV(C$) 31-August-2019,O/S Shares 31-August-2019,Sector,Sub Sector,Listing Type,Date of TSX Listing YYYYMMDD,...,Zinc,Rare Earths,Potash,Lithium,Uranium,Coal,Tungsten,Base & Precious Metals,Mineral Properties (General),Other Properties
0,AGN0001,TSX,Agnico Eagle Mines Limited,AEM,"19,834,740,099","238,283,759",Mining,NaN,NaN,19571227,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,ANA0004,TSX,Alacer Gold Corp.,ASR,"1,720,949,246","294,683,090",Mining,NaN,TSXV Grad,20030718,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALA0001,TSX,Alamos Gold Inc.,AGI,"3,657,653,840","389,941,774",Mining,NaN,TSXV Grad,20040621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALD0003,TSX,Alderon Iron Ore Corp.,IRON,"32,748,069","139,353,486",Mining,NaN,TSXV Grad,20111012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALE0007,TSX,Alexco Resource Corp.,AXU,"377,892,461","116,994,570",Mining,NaN,IPO,20060125,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,TIM0009,TSX,Alio Gold Inc.,ALO,"78,777,643","84,707,143",Mining,NaN,TSXV Grad,20110323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,FAI0002,TSX,Almaden Minerals Ltd.,AMM,"108,374,917","111,726,719",Mining,NaN,TSXV Grad,19900518,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
7,ALM0005,TSX,Almonty Industries Inc.,AII,"143,319,609","181,417,226",Mining,NaN,TSXV Grad,20180601,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
8,ALT0013,TSX,Altius Minerals Corporation,ALS,"575,327,974","52,783,796",Mining,NaN,TSXV Grad,20070115,...,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,"Cobalt,Royalty Streaming"
9,SCO0013,TSX,Americas Silver Corporation,USA,"371,194,349","82,487,633",Mining,NaN,TSXV Grad,20061018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,AME0021,TSX,Amerigo Resources Ltd.,ARG,"106,299,917","180,169,351",Mining,NaN,TSXV Grad,20040323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ANA0005,TSX,Anaconda Mining Inc.,ANX,"31,519,075","134,123,725",Mining,NaN,TSXV Grad,20070418,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ANG0008,TSX,Anglo Pacific Group PLC,APY,"562,558,215","181,470,392",Mining,NaN,Other,20100709,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,"Cobalt, Royalty Streaming"
13,AQU0010,TSX,Aquila Resources Inc.,AQA,"64,274,066","338,284,556",Mining,NaN,TSXV Grad,20070528,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ARG0009,TSX,Argonaut Gold Inc.,AR,"435,062,116","178,304,146",Mining,NaN,TSXV Grad,20091230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,KEE0001,TSX,Asanko Gold Inc.,AKG,"300,320,137","225,804,614",Mining,NaN,TSXV Grad,20081222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ASC0006,TSX,Ascendant Resources Inc.,ASND,"29,911,474","77,692,139",Mining,NaN,TSXV Grad,20170720,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,EME0008,TSX,Atalaya Mining plc,AYM,"446,352,160","137,339,126",Mining,NaN,IPO,20101220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ATL0009,TSX,Atlatsa Resources Corporation,ATL,"47,125,854","554,421,806",Mining,NaN,TSXV Grad,20140205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,AUR0011,TSX,Aura Minerals Inc.,ORA,"78,674,359","4,353,866",Mining,NaN,Other,20060725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
20,AUR0018,TSX,Auryn Resources Inc.,AUG,"161,788,830","95,169,900",Mining,NaN,TSXV Grad,20161101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,AVA0002,TSX,Avalon Advanced Materials Inc.,AVL,"13,828,925","307,309,443",Mining,NaN,TSXV Grad,20080228,...,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,"Niobium,Tantalum,Tin"
22,AUR0015,TSX,Avesoro Resources Inc.,ASO,"115,836,869","81,575,260",Mining,NaN,Other,20110413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,AVI0002,TSX,Avino Silver & Gold Mines Ltd.,ASM,"66,903,874","76,027,129",Mining,NaN,TSXV Grad,20180108,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,POW0009,TSX,Azarga Uranium Corp.,AZZ,"39,765,622","184,956,380",Mining,NaN,TSXV Grad,20071101,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
25,BTW0001,TSX,B2Gold Corp.,BTO,"4,844,720,536","1,013,539,861",Mining,NaN,TSXV Grad,20081023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,BAL0008,TSX,Balmoral Resources Ltd.,BAR,"33,220,398","151,001,811",Mining,NaN,TSXV Grad,20130816,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
27,BAR0007,TSX,Barrick Gold Corporation,ABX,"45,236,386,451","1,752,668,983",Mining,NaN,NaN,19830502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,BEL0018,TSX,Belo Sun Mining Corp.,BSX,"216,889,638","442,631,915",Mining,NaN,TSXV Grad,20120216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,BLA0018,TSX,Black Iron Inc.,BKI,"14,903,433","186,292,909",Mining,NaN,IPO,20110328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,STO0007,TSX,Stornoway Diamond Corporation,SWY,"23,405,820","927,395,953",Mining,NaN,TSXV Grad,20041014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,SUL0004,TSX,Sulliden Mining Capital Inc.,SMC,"2,902,400","41,462,851",Mining,NaN,Other,20140811,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,BRA0017,TSX,Talon Metals Corp.,TLO,"96,394,118","494,328,808",Mining,NaN,TSXV Grad,20050413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cobalt
186,TAN0001,TSX,Tanzanian Gold Corporation,TNX,"157,713,445","148,786,269",Mining,NaN,Other,20011029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
187,TAS0002,TSX,Taseko Mines Limited,TKO,"140,330,705","246,194,219",Mining,NaN,TSXV Grad,20060308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Niobium
188,TEC0009,TSX,Teck Resources Limited,TECK,"12,641,863,397","557,650,686",Mining,NaN,NaN,19520325,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
189,TER0012,TSX,Teranga Gold Corporation,TGZ,"582,044,420","107,586,769",Mining,NaN,IPO,20101207,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,TIT0006,TSX,Titan Mining Corporation,TI,"38,839,180","104,970,757",Mining,NaN,IPO,20171019,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,TMA0001,TSX,TMAC Resources Inc.,TMR,"617,260,508","113,051,375",Mining,NaN,IPO,20150707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,GLE0009,TSX,Torex Gold Resources Inc.,TXG,"1,823,112,538","85,271,868",Mining,NaN,TSXV Grad,20100224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,TRE0011,TSX,Treasury Metals Inc.,TML,"62,232,399","159,570,255",Mining,NaN,Other,20080819,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
194,TRE0012,TSX,Trevali Mining Corporation,TV,"150,614,436","814,132,085",Mining,NaN,Other,20101007,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
195,NOV0021,TSX,Trilogy Metals Inc.,TMQ,"331,547,886","138,722,965",Mining,NaN,Other,20120425,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cobalt
196,SOU0020,TSX,TriMetals Mining Inc.,TMI,"36,259,606","364,092,797",Mining,NaN,IPO,20070216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
197,TRO0007,TSX,Troilus Gold Corp.,TLG,"44,373,313","62,060,578",Mining,NaN,TSXV Grad,20181017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,IND0008,TSX,Turquoise Hill Resources Ltd.,TRQ,"1,167,142,392","2,012,314,469",Mining,NaN,NaN,19960626,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,U3O0001,TSX,U3O8 Corp.,UWE,"2,880,430","23,043,436",Mining,NaN,TSXV Grad,20120827,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,"Phosphate,Vanadium"
200,UEX0001,TSX,UEX Corporation,UEX,"55,300,943","381,385,811",Mining,NaN,IPO,20020716,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,Cobalt
201,URE0001,TSX,Ur-Energy Inc.,URE,"126,358,624","159,947,625",Mining,NaN,IPO,20051128,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
202,VER0016,TSX,Verde Agritech Plc,NPK,"33,078,404","45,942,228",Mining,Agriculture,TSXV Grad,20120411,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,"Limestone,Phosphate"
203,VIS0005,TSX,Vista Gold Corp.,VGZ,"129,693,428","100,537,541",Mining,NaN,NaN,19841019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,WAL0006,TSX,Wallbridge Mining Company Limited,WM,"199,693,016","493,069,176",Mining,NaN,NaN,20000724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,RIV0002,TSX,Wesdome Gold Mines Ltd.,WDO,"996,462,521","137,064,996",Mining,NaN,Other,19890309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,WES0062,TSX,Western Copper and Gold Corporation,WRN,"102,206,701","107,586,001",Mining,NaN,Other,20060515,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,WES0067,TSX,Western Resources Corp.,WRX,"50,456,039","186,874,220",Mining,Agriculture,TSXV Grad,20110712,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,CHA0006,TSX,Wheaton Precious Metals Corp.,WPM,"17,476,016,532","446,272,128",Mining,NaN,TSXV Grad,20041022,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,Royalty Streaming
209,XAN0002,TSX,Xanadu Mines Ltd.,XAM,"32,402,207","648,044,131",Mining,NaN,Other,20181018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,XTR0002,TSX,Xtra-Gold Resources Corp.,XTG,"21,901,356","46,108,117",Mining,NaN,IPO,20101123,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,YAM0001,TSX,Yamana Gold Inc.,YRI,"4,571,521,638","950,420,299",Mining,NaN,NaN,19950209,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
212,YOR0001,TSX,Yorbeau Resources Inc.,YRB,"9,796,470","326,549,013",Mining,NaN,NaN,19870917,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN

In [3]:
#Importing CSV created from web scraping
mining = "Resources/Top 40 Mining Companies by Revenue.csv"
mining40_df = pd.read_csv(mining, encoding = "ISO-8859-1")
mining40_df.head()

    Unnamed: 0                 Company Revenue (Million)
0            0              Agrium Inc         $16,198.8
1            1            Barrick Gold         $12,886.3
2            2           Suncor Energy         $12,294.0
3            3         Syncrude Canada         $11,445.8
4            4          Teck Resources          $9,382.0
5            5              PotashCorp          $7,524.2
6            6      Canadian Oil Sands          $4,208.0
7            7            Kinross Gold          $3,892.9
8            8                Goldcorp          $3,797.6
9            9           First Quantum          $3,659.5
10          10                  Cameco          $2,438.7
11          11           Walter Energy          $1,916.1
12          12             Yamana Gold          $1,898.0
13          13            Agnico Eagle          $1,687.6
14          14                 IamGold          $1,181.5
15          15           Eldorado Gold          $1,157.7
16          16      KGHM International          $1,094.7
17          17           Centerra Gold            $972.7
18          18     Pan American Silver            $849.2
19          19                New Gold            $803.1
20          20           Lundin Mining            $749.6
21          21          Silver Wheaton            $727.7
22          22                  Osisko            $675.6
23          23                  B2Gold            $560.6
24          24         Hudbay Minerals            $516.8
25          25             Golden Star            $496.3
26          26        Endeavour Mining            $456.6
27          27                Sherritt            $448.5
28          28   Thompson Creek Metals            $447.4
29          29           Franco-Nevada            $412.9
30          30             Uranium One            $398.0
31          31         Dundee Precious            $366.4
32          32        Dominion Diamond            $355.8
33          33             AuRico Gold            $351.6
34          34                Capstone            $342.1
35          35           Aura Minerals            $340.8
36          36              China Gold            $311.7
37          37          Crocodile Gold            $309.8
38          38                 Teranga            $306.8
39          39                Rio Alto            $293.7

In [4]:
# confirming names of the colum
mining_2019_df.columns

Index(['Co_ID', 'Exchange', 'Name', 'Root\r\nTicker',
       ' QMV(C$)\r\n31-August-2019 ', ' O/S Shares\r\n31-August-2019 ',
       'Sector', 'Sub\r\nSector', 'Listing Type',
       'Date of \r\nTSX Listing\r\nYYYYMMDD', 'HQ\r\nLocation', 'HQ\r\nRegion',
       'Interlisted\r\nCode_I', 'Interlisted\r\nCode_II', 'Listed on OTC',
       'TSX \r\nVenture \r\nGrad', 'Former\r\nCPC', 'Index', 'USA_City',
       'USA_State', 'Asia Region', 'Israel Related',
       'Place of Incorporation\r\nC=Canada\r\nU=USA\r\nF=Foreign',
       'SP Grouping', 'SP_Sub', ' Volume YTD\r\n31-August-2019 ',
       ' Value (C$) YTD\r\n31-August-2019 ',
       ' Number of \r\nTrades YTD\r\n31-August-2019 ',
       ' Number of\r\nMonths of \r\nTrading Data ', 'AFRICA', 'AUS/NZ/PNG',
       'CANADA', 'CHINA & ASIA', 'LATIN AMERICA', 'OTHER', 'UK/EUROPE', 'USA',
       'Oil and Gas', 'Gold', 'Silver', 'Copper', 'Nickel', 'Diamond',
       'Molybdenum', 'Platinum/PGM', 'Iron', 'Lead', 'Zinc', 'Rare Earths',
       'Potash', 'Lithium', 'Uranium', 'Coal', 'Tungsten',
       'Base & Precious Metals', 'Mineral Properties (General)',
       'Other Properties'],
      dtype='object')

In [5]:
# Creating Data Frame with selected columns
mining_2019_df2=mining_2019_df[["Name", ' QMV(C$)\r\n31-August-2019 ', ' O/S Shares\r\n31-August-2019 ', 'HQ\r\nLocation', ' Volume YTD\r\n31-August-2019 ', ' Value (C$) YTD\r\n31-August-2019 ', ' Number of \r\nTrades YTD\r\n31-August-2019 ']]
mining_2019_df3=mining_2019_df2.drop_duplicates()
mining_2019_df3=mining_2019_df3.fillna(0)
mining_2019_df3.head()

,Name,QMV(C$)\r\n31-August-2019,O/S Shares\r\n31-August-2019,HQ\r\nLocation,Volume YTD\r\n31-August-2019,Value (C$) YTD\r\n31-August-2019,Number of \r\nTrades YTD\r\n31-August-2019
0,Agnico Eagle Mines Limited,"19,834,740,099","238,283,759",ON,"140,709,330","8,701,113,851","1,017,569"
1,Alacer Gold Corp.,"1,720,949,246","294,683,090",USA,"162,603,327","670,428,184","387,254"
2,Alamos Gold Inc.,"3,657,653,840","389,941,774",ON,"158,642,886","1,095,336,767","499,733"
3,Alderon Iron Ore Corp.,"32,748,069","139,353,486",BC,"11,466,467","4,005,100","4,783"
4,Alexco Resource Corp.,"377,892,461","116,994,570",BC,"24,154,610","49,603,338","61,615"

In [6]:
# Creating Data Frame
mining40_df2=mining40_df[['Company', 'Revenue (Million)']]

# we don't need these
# mining40_df3=mining40_df2.drop_duplicates()
# mining40_df3=mining40_df3.fillna(0)

mining40_df2.head()

           Company Revenue (Million)
0       Agrium Inc         $16,198.8
1     Barrick Gold         $12,886.3
2    Suncor Energy         $12,294.0
3  Syncrude Canada         $11,445.8
4   Teck Resources          $9,382.0

In [7]:
#reseting index
mining40_df2.reset_index(inplace=True)
mining40_df2.head()

   index          Company Revenue (Million)
0      0       Agrium Inc         $16,198.8
1      1     Barrick Gold         $12,886.3
2      2    Suncor Energy         $12,294.0
3      3  Syncrude Canada         $11,445.8
4      4   Teck Resources          $9,382.0

In [8]:
#reseting index
mining_2019_df3.reset_index(inplace=True)
mining_2019_df3.head()

,index,Name,QMV(C$)\r\n31-August-2019,O/S Shares\r\n31-August-2019,HQ\r\nLocation,Volume YTD\r\n31-August-2019,Value (C$) YTD\r\n31-August-2019,Number of \r\nTrades YTD\r\n31-August-2019
0,0,Agnico Eagle Mines Limited,"19,834,740,099","238,283,759",ON,"140,709,330","8,701,113,851","1,017,569"
1,1,Alacer Gold Corp.,"1,720,949,246","294,683,090",USA,"162,603,327","670,428,184","387,254"
2,2,Alamos Gold Inc.,"3,657,653,840","389,941,774",ON,"158,642,886","1,095,336,767","499,733"
3,3,Alderon Iron Ore Corp.,"32,748,069","139,353,486",BC,"11,466,467","4,005,100","4,783"
4,4,Alexco Resource Corp.,"377,892,461","116,994,570",BC,"24,154,610","49,603,338","61,615"

In [9]:
#renaming columns and set id as index
mining_2019_df4=mining_2019_df3.rename(columns={"index":"id", "Name":"company", ' QMV(C$)\r\n31-August-2019 ': 'qmv_c$', ' O/S Shares\r\n31-August-2019 ':"os_shares", 'HQ\r\nLocation':"hq_location", ' Volume YTD\r\n31-August-2019 ':"volume_ytd", ' Value (C$) YTD\r\n31-August-2019 ':"value_c$_ytd", ' Number of \r\nTrades YTD\r\n31-August-2019 ':"number_of_trades_ytd"})
mining_2019_transformed = mining_2019_df4.set_index("id")
mining_2019_transformed.head()

,company,qmv_c$,os_shares,hq_location,volume_ytd,value_c$_ytd,number_of_trades_ytd
id,,,,,,,
0,Agnico Eagle Mines Limited,"19,834,740,099","238,283,759",ON,"140,709,330","8,701,113,851","1,017,569"
1,Alacer Gold Corp.,"1,720,949,246","294,683,090",USA,"162,603,327","670,428,184","387,254"
2,Alamos Gold Inc.,"3,657,653,840","389,941,774",ON,"158,642,886","1,095,336,767","499,733"
3,Alderon Iron Ore Corp.,"32,748,069","139,353,486",BC,"11,466,467","4,005,100","4,783"
4,Alexco Resource Corp.,"377,892,461","116,994,570",BC,"24,154,610","49,603,338","61,615"

In [10]:
#reseting index and rename columns
mining40_transformed=mining40_df2.rename(columns={"index":"id","Revenue (Million)":"revenue_million", "Company":"company"})
mining40_transformed.head()

   id          company revenue_million
0   0       Agrium Inc       $16,198.8
1   1     Barrick Gold       $12,886.3
2   2    Suncor Energy       $12,294.0
3   3  Syncrude Canada       $11,445.8
4   4   Teck Resources        $9,382.0

In [11]:
#set id column as index
mining40_transformed.set_index("id",inplace=True)
mining40_transformed.head()

            company revenue_million
id
0        Agrium Inc       $16,198.8
1      Barrick Gold       $12,886.3
2     Suncor Energy       $12,294.0
3   Syncrude Canada       $11,445.8
4    Teck Resources        $9,382.0

In [12]:
# check if company name is partically matched with company name in mining_2019_transformed, if yes, rename the name with the
# same name in mining_2019_transformed, if not, pass, save it to a list and update the data frame company column

company_list = []
for company in mining40_transformed["company"]:
    for company_full in mining_2019_transformed['company']:
        if company in company_full:
            company = company_full
        else:
            pass
    company_list.append(company)

#update the data frame ccompany column
mining40_transformed["company"] = company_list

#preview
mining40_transformed.head()

                     company revenue_million
id
0                 Agrium Inc       $16,198.8
1   Barrick Gold Corporation       $12,886.3
2              Suncor Energy       $12,294.0
3            Syncrude Canada       $11,445.8
4     Teck Resources Limited        $9,382.0

# Loading Part
see also schema.sql for creating tables with same column names in Postgres

In [13]:
# get my secret password for pgAdmin, which is save in a .env file
load_dotenv()
password = os.environ.get('postgres_password') # or os.getenv("postgres_password")

In [14]:
# database url
URL = f'postgres://postgres:{password}@localhost:5432/ETL-Project'

In [15]:
# create engine with Postgres 
engine = create_engine(URL)

In [16]:
# confirm tables
engine.table_names()

['top40_mining_companies', 'market_cap']

In [17]:
# Load DataFrames into database
mining40_transformed.to_sql(name = "top40_mining_companies", con = engine, if_exists = "replace", index = True)
mining_2019_transformed.to_sql(name = "market_cap", con = engine, if_exists = "replace", index = True)

In [18]:
# merge the two tables in database on company columns which both tables have, with inner join
cursor = engine.execute("SELECT * FROM market_cap INNER JOIN top40_mining_companies ON market_cap.company = top40_mining_companies.company")

In [19]:
# show the column names
cursor.keys()

['id',
 'company',
 'qmv_c$',
 'os_shares',
 'hq_location',
 'volume_ytd',
 'value_c$_ytd',
 'number_of_trades_ytd',
 'id',
 'company',
 'revenue_million']

In [20]:
# show the merged table from Postgres
pd.DataFrame(cursor, columns = cursor.keys())

,id,company,qmv_c$,os_shares,hq_location,volume_ytd,value_c$_ytd,number_of_trades_ytd,id,company,revenue_million
0,27,Barrick Gold Corporation,"45,236,386,451","1,752,668,983",ON,"865,233,370","16,394,613,900","2,016,659",1,Barrick Gold Corporation,"$12,886.3"
1,188,Teck Resources Limited,"12,641,863,397","557,650,686",BC,"249,256,829","7,199,150,598","1,324,737",4,Teck Resources Limited,"$9,382.0"
2,100,Kinross Gold Corporation,"8,291,819,421","1,252,540,698",ON,"639,497,157","3,156,239,863","725,558",7,Kinross Gold Corporation,"$3,892.9"
3,130,Newmont Goldcorp Corporation,"43,543,784,423","822,667,380",USA,"14,653,299","703,208,232","111,779",8,Newmont Goldcorp Corporation,"$3,797.6"